<include href="views/header.html"></include>
<!--Header-->
<header class="header pt-5 pb-3">
    <div class="container">
        <h2 class="display-4">Technician Dashboard</h2>
        <p class="lead">Welcome to your dashboard. You can access customer data</p>
    </div>
</header> <!--Header-->

<!--Page Content-->
<section class="mainSection">
    <div class="container shadow-lg p-3 mb-5 bg-white rounded">

        <!--Top Content-->
        <div class="row">
            <!--Dashboard-->
            <div class="col col-8">
                <h2>User View</h2>
                <h5 id="Testing"></h5>
            </div><!--Dashboard-->
        </div><!--Top Content-->


        <!--User Select Form-->
        <form id="userSelectForm" method="post" action="#">
            <div class="col col-3 mt-3">
                <select id="userSelect" name="userID" class="form-select" aria-label="Default select example">
                    <option>Select...</option>
                    <repeat group="{{@listUsers}}" value="{{@listUser}}">
                        <option value="{{@listUser.accountID}}">{{@listUser.firstname}} {{@listUser.lastname}}</option>
                    </repeat>
                </select>
            </div>
        </form><!--End of Form-->

        <!--Individual User Table-->
        <div class="table-responsive">
            <table id="user-table" class="table">

            </table>
        </div><!-- End of Table -->

        <!--All Users Table-->
        <h2 class="mt-4">All Tickets</h2>
        <div class="table-responsive">
            <table id="ticket-table" class="table">
                <!--  Table Contents  -->
            </table>
        </div><!-- End of Table -->
    </div>
</section>

<include href="views/footer.html"></include>