<include href="views/header.html"></include>

<header class="header pt-5 pb-3">
    <div class="container">
        <h2 class="display-4">South Garage Car Service</h2>
        <p class="lead">Welcome to South Garage. A family run automotive service that provides excellent service for car
            owners</p>
    </div>
</header>

<section class="mainSection">
    <div class="container shadow-lg p-3 mb-5 bg-white rounded">

        <div class="row">
            <div class="col col-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Services We Provide</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Filter Replacement</li>
                            <li class="list-group-item">Oil Change</li>
                            <li class="list-group-item">Wheel Alignment</li>
                            <li class="list-group-item">AC Systems</li>
                            <li class="list-group-item">And more</li>
                        </ul>
                        <div class="col-12 mt-3">
                            <a class="btn btn-primary" href="login" role="button">Create a Profile!</a>
                            <inpout></inpout>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="d-grid gap-2">
                    <button class="btn btn-custom" type="button">Schedule a Service</button>
                    <button class="btn btn-custom" type="button">Check Status</button>
                </div>
            </div>
        </div>

        <!--Paragraph-->
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">South Garage</h1>
            <p class="lead">If you're looking for experts in servicing your car for anything from oil change to more advanced work, South Garage is here to help
            vehicle owners in Pacific Northwest. At our service center, we feature high level tools and diagnostics equipment for any type of manufacturers.</p>
        </div><!--Paragraph-->

        <!--Cards Div-->
        <div class="row mt-5 mx-2">

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate">
                <div class="card" style="width: 18rem;">
                    <img src="../sdev328_final/images/service01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Exhaust Systems</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate">
                <div class="card" style="width: 18rem;">
                    <img src="../sdev328_final/images/service02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Full Chassis</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate">
                <div class="card" style="width: 18rem;">
                    <img src="../sdev328_final/images/service03.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Oil Change</h5>
                        <p class="card-text">Oil and filter change with manufacture recommended products. </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate">
                <div class="card" style="width: 18rem;">
                    <img src="../sdev328_final/images/service04.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Wheel Service</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div><!--Cards-->

    </div>
</section>

<include href="views/footer.html"></include>