<include href="views/header.html"></include>
<div class="container">

    <!--  Row  -->
    <div class="row ">

        <div class="col-10 col-lg-6 col-md-8 col-sm-10 mx-auto p-0 mt-5 mb-5">
            <form class="border rounded p-3" method="post" action="#">

                <!--  Header  -->
                <h3 class="text-center">Login</h3>

                <!--  Username  -->
                <div class="form-group">
                    <label for="user">Username</label>
                    <input type="text" class="form-control" id="user" name="email" placeholder="Enter email"
                           value="{{@email}}">

                    <!--  Error Message  -->
                    <check if="{{isset(@errors['email'])}}">
                        <p class="text-danger">{{@errors['email']}}</p>
                    </check>
                </div>

                <!--  Password  -->
                <div class="form-group">
                    <label for="pass">Password</label>
                    <input type="password" class="form-control" id="pass" name="pass" placeholder="Password"
                           value="{{@pass}}">

                    <!--  Error Message  -->
                    <check if="{{isset(@errors['pass'])}}">
                        <p class="text-danger">{{@errors['pass']}}</p>
                    </check>
                </div>


                <!--  Submit Button  -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary m-3">Submit</button>
                </div>

                <!--  Password Recovery/Create Account  -->
                <div class="text-center">
                    <p><a class="pr-4" href="#">Forgot Password</a><a class="pl-4" href="newAccount">Create Account</a></p>
                </div>
            </form>
        </div>
    </div>
</div><!--END OF CONTAINER-->
<include href="views/footer.html"></include>