<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Service Portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" >
</head>
<body>

<!--  Navbar  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Service Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="col-12 col-lg-10 col-md-12 col-sm-12 mx-auto p-0 mt-5 mb-5">
        <form class="border rounded p-3" method="post" action="#">

            <!--  Header  -->
            <h3 class="text-center mb-3">Create a New Account</h3>

            <h5 class="mb-3">Login Information</h5>

            <div class="form-row">
                <!--  User Name  -->
                <div class="form-group col-md-12">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email"
                           placeholder="Email" value="{{@email}}">
                    <!--  Error Message  -->
                    <check if="{{isset(@errors['email'])}}">
                        <p class="text-danger">{{@errors['email']}}</p>
                    </check>
                </div>
            </div>




            <div class="form-row mb-3">
                <!--  Password  -->
                <div class="form-group col-md-6">
                    <label for="pass">Password</label>
                    <input type="password" class="form-control" id="pass" name="pass"
                           placeholder="Password" value="{{@pass}}">
                </div>
                <!--  Confirm Password  -->
                <div class="form-group col-md-6">
                    <label for="passConfirm">Confirm Password</label>
                    <input type="password" class="form-control" id="passConfirm" name="passConfirm"
                           placeholder="Password" value="passConfirm">
                </div>
            </div>



            <h5 class="mb-3">Profile Information</h5>

            <div class="form-row">
                <!--  First Name  -->
                <div class="form-group col-md-6">
                    <label for="fName">First Name</label>
                    <input type="text" class="form-control" id="fName" name="fName"
                           placeholder="First..." value="{{@fName}}">
                </div>

                <!--  Last Name  -->
                <div class="form-group col-md-6">
                    <label for="lName">Last Name</label>
                    <input type="text" class="form-control" id="lName"
                           placeholder="Last..." value="{{@lName}}">
                </div>
            </div>
            <div class="form-group">
                <!--  Address 1  -->
                <label for="address1">Address</label>
                <input type="text" class="form-control" id="address1" name="address1"
                       placeholder="1234 Main St" value="{{@address1}}">
            </div>
            <!--  Address 2  -->
            <div class="form-group">
                <label for="address2">Address 2</label>
                <input type="text" class="form-control" id="address2" name="address2"
                       placeholder="Apartment, studio, or floor" value="{{@address2}}">
            </div>
            <div class="form-row">
                <!--  City  -->
                <div class="form-group col-md-6">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city" value="{{@city}}">
                </div>
                <!--  State  -->
                <div class="form-group col-md-4">
                    <label for="state">State</label>
                    <select id="state" class="form-control" name="state">
                        <option selected>Choose...</option>
                        <repeat group="{{@listStates}}" value="{{@listState}}">
                            <check if="{{@listState}} == {{@state}}">
                                <true><option selected>{{@listState}}</option></true>
                                <false><option >{{@listState}}</option></false>
                            </check>
                        </repeat>
                    </select>
                </div>
                <!--  Zip  -->
                <div class="form-group col-md-2">
                    <label for="zip">Zip</label>
                    <input type="text" class="form-control" id="zip" name="zip">
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Create Account</button>
            </div>
        </form>
    </div>
</div><!--END OF CONTAINER-->

<!--   SCRIPTS   -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>