<include href="views/header.html"></include>

<!--Header-->
<header class="header pt-5 pb-3">
    <div class="container">
        <h2 class="display-4">User Dashboard</h2>
        <p class="lead">Welcome to your dashboard. You can access your scheduling and vehicle data on this page</p>
    </div>
</header> <!--Header-->

<!--Page Content-->
<section class="mainSection">
    <div class="container shadow-lg p-3 mb-5 bg-white rounded">

        <!--Top Content-->
        <div class="row">
            <!--Dashboard-->
            <div class="col col-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Services We Provide</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Filter Replacement</li>
                            <li class="list-group-item">Oil Change</li>
                            <li class="list-group-item">Wheel Alignment</li>
                            <li class="list-group-item">AC Systems</li>
                            <li class="list-group-item">And more</li>
                        </ul>
                        <a href="#" class="btn btn-primary">Start</a>
                    </div>
                </div>
            </div><!--Dashboard-->

            <!--Buttons-->
            <div class="col col-3">
                <div class="d-grid gap-2">
                    <button class="btn btn-custom" type="button">Schedule a Service</button>
                    <button class="btn btn-custom" type="button">Check Status</button>
                </div>
            </div><!--Buttons-->
        </div><!--Top Content-->

        <!--Table-->
        <div class="row mt-5">

            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Vehicle</th>
                            <th scope="col">Service</th>
                            <th scope="col">Status</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>2012 Toyota Camry</td>
                            <td>Oil Change</td>
                            <td>Being Processed</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>2015 BMW 335i</td>
                            <td>Head Gasket</td>
                            <td>Being Processed</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Mike</td>
                            <td>Cruz</td>
                            <td>2005 Mazda 6</td>
                            <td>Tire Change</td>
                            <td>Ready</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div><!--Table-->

    </div>
</section>

<include href="views/header.html"></include>