/*
 * Desc:    CSS styles for the SouthGarage App.
 * Date:    3/1/21
 * File:    styles.css
 * Auth:    Ryan Rivera & Husrav Khomidov
 */

.mainSection {

    max-width: 1200px;
    margin: 50px auto;
    position: relative;
}

.admin-cont{
    max-width: 1200px;
}
.fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.btn-custom {
    color: #fff;
    background-color: #36626d;
    border-color: #48938c;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #36626d;!important;
    background-color: #efefef;!important;
}

.bg-dark {
    background: #0a2b33;!important;
    background: -webkit-linear-gradient(to right, #0a2b33, #48938c);!important;
    background: linear-gradient(to right, #0a2b33, #48938c); !important;
}

.header{
    background: #0a2b33;!important;
    background: -webkit-linear-gradient(to right, #0a2b33, #48938c);!important;
    background: linear-gradient(to right, #0a2b33, #48938c); !important;

    color: white;!important;
}

.footer{
    background: #0a2b33;!important;
    background: -webkit-linear-gradient(to right, #0a2b33, #48938c);!important;
    background: linear-gradient(to right, #0a2b33, #48938c); !important;

    color: white;!important;
}

.container-comp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}